<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Odin Book, <%= @user.name %>!</h1>
    <p>
      Thanks for signing up! You can now connect with friends, share posts, and more.
    </p>
    <p>
      Your email: <%= @user.email %>
    </p>
    <p>Happy posting!</p>
  </body>
</html>